body {font-family: "Courier New", Courier, monospace}
h1 {
  font-family: "Lucida Console", Monaco, monospace;
    background-color: #EBEDEF;
    color: #EA765D;
    text-align: center;
  }
#header {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #F1948A;
      }
#content p {
          width: 50%;
          text-align: center;
        }
